/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.min.css";

html, body {
  height: 100%;
  margin: 0;
}

header, footer {
  background-color: #FCBB01
}

.custom-card {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 2rem;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.04);
}
